[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/bundle/flavored-markdown"]
	path = vim/bundle/flavored-markdown
	url = git@github.com:jtratner/vim-flavored-markdown.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "lib/powerline"]
	path = lib/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git@github.com:vim-scripts/tComment.git
	url = git@github.com:jpo/vim-railscasts-theme.git
[submodule "vim/bundle/gradle-syntastic-plugin"]
	path = vim/bundle/gradle-syntastic-plugin
	url = https://github.com/Scuilion/gradle-syntastic-plugin
[submodule "vim/bundle/kotlin-vim"]
	path = vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "vim/bundle/vim-better-whitespace"]
	path = vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-javacomplete2"]
	path = vim/bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim/bundle/lucario"]
	path = vim/bundle/lucario
	url = https://github.com/raphamorim/lucario
[submodule "vim/bundle/atom-theme"]
	path = vim/bundle/atom-theme
	url = https://github.com/gregsexton/Atom
[submodule "vim/bundle/inkpot"]
	path = vim/bundle/inkpot
	url = https://github.com/ciaranm/inkpot
[submodule "vim/bundle/getafe-theme"]
	path = vim/bundle/getafe-theme
	url = https://github.com/larssmit/vim-getafe
[submodule "vim/bundle/github-theme"]
	path = vim/bundle/github-theme
	url = https://github.com/acarapetis/vim-colors-github
[submodule "vim/bundle/muon-theme"]
	path = vim/bundle/muon-theme
	url = https://github.com/gregsexton/Muon
