[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim/bundle/flavored-markdown"]
	path = vim/bundle/flavored-markdown
	url = git@github.com:jtratner/vim-flavored-markdown.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/powerline"]
	path = vim/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "lib/powerline"]
	path = lib/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git@github.com:vim-scripts/tComment.git
[submodule "vim/bundle/lucario"]
	path = vim/bundle/lucario
	url = https://github.com/raphamorim/lucario
[submodule "vim/bundle/atom-theme"]
	path = vim/bundle/atom-theme
	url = https://github.com/gregsexton/Atom
[submodule "vim/bundle/inkpot"]
	path = vim/bundle/inkpot
	url = https://github.com/ciaranm/inkpot
[submodule "vim/bundle/getafe-theme"]
	path = vim/bundle/getafe-theme
	url = https://github.com/larssmit/vim-getafe
[submodule "vim/bundle/github-theme"]
	path = vim/bundle/github-theme
	url = https://github.com/acarapetis/vim-colors-github
[submodule "vim/bundle/muon-theme"]
	path = vim/bundle/muon-theme
	url = https://github.com/gregsexton/Muon
